{% extends '../layouts/default.twig' %}
{% set head_title = 'Banners' %}
{% set body_class = '' %}
{% set menu_active = 'blank-page' %}
{% set page = 'topbanner' %}
{% set src = '/assets/img/topbanners/' %}

{% block page %}
    <section class="page-banner">
        <div class="page-banner-image">
            <img src="{{ src }}/grow-income.jpg" />
            <div class="page-banner-rate withbar">
                <div>От</div>
                    <span>5.5</span> %
                <div>Годовых</div>
            </div>
        </div>
        <div class="page-banner-title">
            <div class="container">
                <h1>
                    Вклад «Растущий доход»
                </h1>
                <span>
                    Вклад с растущей процентной ставкой и льготным досрочным расторжением!
                </span>
                <a class="banner-button" href="#">
                    Открыть вклад
                </a>
            </div>
        </div>

    </section>
    <section class="page-banner-bar">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 page-banner-bar-item">
                <h4 class="icons" style="background-image: url('/assets/img/payring/security.svg')">Безопасность</h4>
                Максимальная ставка
            </div>
            <div class="col-12 col-md-4 page-banner-bar-item">
                <h4 class="icons" style="background-image: url('/assets/img/payring/nfc.svg')">Технология NFC</h4>
                Минимальная ставка
            </div>
            <div class="col-12 col-md-4 page-banner-bar-item">
                <h4 class="icons" style="background-image: url('/assets/img/payring/drop.svg')">Водозащищенность</h4>
                Срок размещения
            </div>
        </div>
    </div>
</section>
    <section class="page-banner">
        <div class="page-banner-image">
            <img src="{{ src }}/grow-income.jpg" />
            <div class="page-banner-rate withbar">
                <div>От</div>
                <span>5.5</span> %
                <div>Годовых</div>
            </div>
        </div>
        <div class="page-banner-title">
            <div class="container">
                <h1>
                    Вклад «Растущий доход»
                </h1>
                <span>
                    Вклад с растущей процентной ставкой и льготным досрочным расторжением!
                </span>
                <a class="banner-button" href="#">
                    Открыть вклад
                </a>
            </div>
        </div>

    </section>
    <section class="page-banner-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 page-banner-bar-item">
                    <h4 class="rates">до <span class="accent">5.5</span>% годовых</h4>
                    Максимальная ставка
                </div>
                <div class="col-12 col-md-4 page-banner-bar-item">
                    <h4 class="rates">от <span class="accent">10 000</span> <span class="rouble">q</span></h4>
                    Минимальная сумма
                </div>
                <div class="col-12 col-md-4 page-banner-bar-item">
                    <h4 class="rates"><span class="accent">540</span> дней</h4>
                    Срок размещения
                </div>
            </div>
        </div>
    </section>
{% endblock %}
