{% extends '../layouts/default.twig' %}
{% set head_title = 'Карьера в РХСБ' %}
{% set body_class = '' %}
{% set menu_active = 'blank-page' %}
{% set page = 'career' %}
{% set src = '/assets/img/career/' %}

{% block page %}
<main class="career">
    <section class="career-top">
        <div class="container">
            <div class="career-top-text">
                <h1>Будь в нашей команде на пути к успеху!</h1>
                Работа в РоссельхозБанк
            </div>
            <div class="career-top-img">
                <img src="{{ src }}top-img.png" />
            </div>
        </div>
    </section>
    <section class="career-bank">
        <div class="career-bank-wrap">
            <div class="career-bank-about">
                <div class="container">
                    <img src="{{ src }}/rshb-w.svg"  class="career-bank-about-logo" />
                    <p>При выборе работодателя одним из основополагающих факторов является его надежность!</p>
                    <p>Многие мечтают работать в крупной и престижной компании, в которой можно расти и развиваться, быть значимым и востребованным, – мы та самая компания, та самая мечта, которая досягаема для профессиональных, целеустремленных и уверенных в себе!</p>
                    <p>АО «Россельхозбанк» – один из крупнейших российских банков, который был основан в 2000 году с целью развития национальной кредитно-финансовой системы агропромышленного сектора и сельских территорий Российской Федерации.</p>
                    <a class="career-btn" href="https://www.rshb.ru/about/" target="_blank">Больше о банке</a>
                </div>
            </div>
            <div class="career-bank-benefit">
                <div class="container">
                    <h3>Мы предлагаем</h3>
                    <ul>
                        <li>Достойное вознаграждение</li>
                        <li>Социальный пакет</li>
                        <li>Комфортный офис</li>
                        <li>Профессиональное обучение</li>
                        <li>Карьерный рост и развитие</li>
                    </ul>
                    <a class="career-btn" href="#career-block" data-scroll onclick="dataLayer.push({'event': 'job_2list'});">Смотреть вакансии</a>
                </div>
            </div>
        </div>
    </section>
    <section class="career-young">
        <div class="container">
            <div class="career-young-text">
                <h1>Начало карьеры</h1>
                Предложения для студентов и молодых специалистов
            </div>
            <div class="career-young-img">
                <img src="{{ src }}yong-img.png" />
            </div>
        </div>
    </section>
    <section class="career-young-for">
        <div class="container">
        <p>Банк в качестве одного из приоритетных направлений своей работы выделяют формирование и развитие внешнего резерва кадров из числа студентов, выпускников учебных заведений и молодых специалистов.
            В рамках взаимодействия банка с образовательными учреждениями и студентами реализуется система эффективных практических мер, в числе которых:</p>
            <div class="left-line">
                <p>Организация прохождения практики для студентов, обучающихся по программам высшего
                    и средне-профессионального образования</p>

                <p>Осуществление выплат именных стипендий АО «Россельхозбанк» студентам ВУЗов,
                подведомственных Министерству сельского хозяйства</p>

                <p>Организация работы финансовых студенческих отрядов (ФСО) в период летних
                каникул на базе региональных филиалов Банка</p>

                <p>Проведение мероприятий по повышению финансовой грамотности клиентов Банка, представителей бизнеса и органов местного самоуправления, работников предприятий АПК, студентов, школьников, а также граждан, ведущих личное подсобное хозяйство</p>

                <p>Создание научно-образовательных лабораторий</p>

                <p>Открытие новых брендированных аудиторий</p>

                <p>Участие Банка в государственных программах поддержки талантливой молодежи и предоставления возможности социальных лифтов: Всероссийская олимпиада «Я-профессионал» и WorldSkills</p>

            </div>
        </div>
        <div class="career-young-for-wrap">
            <a class="career-young-for-left" href="students.php">
                <div class="container">
                <h3>Для студентов и молодых специалистов</h3>
                АО «Россельхозбанк» поддерживает целеустремленных студентов, стремящихся к профессиональному развитию и успешной карьере, ориентированных на высокие результаты и командную работу.
                </div>
            </a>
            <a class="career-young-for-right" href="https://www.rshb.ru/promo/job/">
                <div class="container">
                    <h3>Вакансии контакт-центра</h3>
                    Если Вы студент, молодой специалист или просто хотите улучшить свое финансовое положение без отрыва от основной деятельности
                </div>
            </a>
        </div>
    </section>
    <section class="career-job" id="career-block">
        <div class="career-job-wrap">
            <div class="career-job-filters">
                <div class="container">
                    <h3>Наши вакансии</h3>
                    <form id="filter">
                    <div class="career-job-form_row">
                        <label for="filter-city" class="label">Город</label>
                        <div class="select">
                            <select id="filter-city" name="city">
                            </select>
                            <span class="focus"></span>
                        </div>
                    </div>
                    <div class="career-job-form_row">
                        <label for="filter-exp" class="label">Опыт работы</label>
                        <div class="select" >
                            <select id="filter-exp" name="exp">
                                <option value="">Не важно</option>
                                <option value="Без опыта">Без опыта</option>
                                <option value="Более года">Более года</option>
                                <option value="Более 2 лет">Более 2 лет</option>
                                <option value="Более 3 лет">Более 3 лет</option>
                            </select>
                            <span class="focus"></span>
                        </div>
                    </div>
                    <div class="career-job-form_row">
                        <div class="label">Направление</div>
                            <div id="filter-direction">
                            <label class="career-job-form_direction">
                                <input type="checkbox" name="direction" value="Административный персонал">
                                <span class="checkmark">Административный персонал</span>
                            </label>
                            <label class="career-job-form_direction">
                                <input type="checkbox" name="direction" value="IT">
                                <span class="checkmark">IT</span>
                            </label>
                            <label class="career-job-form_direction">
                                <input type="checkbox" name="direction" value="Маркетинг">
                                <span class="checkmark">Маркетинг</span>
                            </label>
                            <label class="career-job-form_direction">
                                <input type="checkbox" name="direction" value="Право">
                                <span class="checkmark">Право</span>
                            </label>
                            <label class="career-job-form_direction">
                                <input type="checkbox" name="direction" value="Управляющий персонал">
                                <span class="checkmark">Управляющий персонал</span>
                            </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="career-notfound desktop">
                    <div class="container">
                        <h4>Не нашли подходящей вакансии?</h4>
                        <p>Все резюме и заполненные анкеты кандидатов сохраняются в нашей базе, чтобы у специалистов HR-подразделения была возможность обратиться к ним, когда в Банке появится подходящая для Вас вакансия.</p>
                        <a class="career-btn send-cv"  href="mailto:Career@rshb.ru">
                            Отправить резюме
                        </a>

                    </div>
                </div>
            </div>
            <div class="career-job-vacancy">
                <div class="container" id="vacancy">
                </div>
            </div>
            <div class="career-notfound mobile">
                <div class="container">
                   <h4>Не нашли подходящей вакансии?</h4>
                    <p>Все резюме и заполненные анкеты кандидатов сохраняются в нашей базе, чтобы у специалистов HR-подразделения была возможность обратиться к ним, когда в Банке появится подходящая для Вас вакансия.</p>
                    <a class="career-btn send-cv" href="mailto:Career@rshb.ru">
                        Отправить резюме
                    </a>

                </div>
            </div>
        </div>
    </section>
</main>
    <div class="flyout-panel hidden" id="off-panel">
        <div class="flyout-panel-content">
            <div class="flyout-panel-close" onclick="window.career.togglePanel()">
                <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle id="round" cx="28" cy="28" r="28" fill="#DADADA"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M41.8279 16.6862L39.3137 14.1721L28 25.4858L16.6863 14.1721L14.1721 16.6863L25.4858 28L14.1721 39.3137L16.6863 41.8278L28 30.5141L39.3137 41.8279L41.8279 39.3137L30.5141 28L41.8279 16.6862Z" fill="white"/>
                </svg>
            </div>
            <div class="container">
                <h1 id="off-panel-title"></h1>
                <div id="off-panel-options" class="career-job-item_options"></div>
                <div class="flyout-panel-dut">
                    <h4>Основные функциональные обязанности:</h4>
                    <div id="off-panel-duties"></div>
                </div>
                <div class="flyout-panel-req">
                    <h4>Основные требования к кандидатам:</h4>
                    <div id="off-panel-reqs"></div>
                </div>
                <div id="off-panel-email">

                </div>
                <div class="flyout-panel-form">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
