{% extends '../layouts/default.twig' %}
{% set head_title = 'Школа фермера' %}
{% set body_class = '' %}
{% set menu_active = 'blank-page' %}
{% set page = 'farmer' %}
{% set src = '/assets/img/farmer/' %}

{% block page %}
    {% include '../../modules/navbar/navbar-land.twig' %}
    <main class="farmer">
        <section class="farmer-top">
            <div class="farmer-top-text">
                <h1><span class="green1">Школа</span> <span class="green2">фермера</span></h1>
                <p>Федеральный образовательный проект <span class="nowrap">АО "Россельхозбанк",</span> реализуемый совместно <span class="nowrap">с Министерством</span> сельского хозяйства <span class="nowrap">и профильными вузами</span></p>
                <div class="logo">
                    <img src="/assets/img/farmer/logo.svg" />
                </div>
            </div>
            <div class="farmer-top-banner">
                <div class="farmer-top-banner_frame" id="banner">
                    <div class="date">
                        24.02
                    </div>
                    <div class="text">
                        <p>Пресс-конференеция
                        посвященая открытию
                        «ШКОЛЫ ФЕРМЕРА»
                        </p>
                        <div style="font-weight: 600; text-decoration: underline; font-size: .9em">СМОТРЕТЬ ТРАНСЛЯЦИЮ</div>
                    </div>
                </div>
                <div class="farmer-top-banner_man">
                    <img src="/assets/img/farmer/man.png" />
                </div>
            </div>
        </section>
        <section class="farmer-project">
            <div class="farmer-project-text">
                <h2>
                    О проекте
                </h2>
                <p>
                    Школа фермера - это большой общероссийский образовательный проект Россельхозбанка, объединяющий возможности Министерства сельского хозяйства, регионов, профильных вузов, крупного бизнеса и фермеров для теоретического и практического обучения профессиональных кадров для сельского хозяйства. Выпускники получат дипломы государственного образца по направлениям сельского хозяйства и возможность получить грант от Министерства сельского хозяйства.
                <p></p>
                «Школа фермера» - это уникальный проект для каждого региона, в результате которого будут созданы и новые малые формы хозяйствования и рабочие места, новые бренды качественной фермерской продукции с применением передовых методов ведения агробизнеса
                </p>
                <a href="/project.html" class="y-button">Подробнее</a> <a href="mission.html"  class="y-button">Наша миссия</a>
            </div>
            <div class="farmer-project-image">
                <div class="farmer-project-image_img"></div>
            </div>
        </section>
        <section class="farmer-geo">
            <div class="farmer-geo-text">
                <h2>
                    География
                </h2>
                <p>
                    В 2021 году обучение пройдет в 16 регионах России.
                    Общая численность слушателей составит 375, а образование будет совершенно бесплатным - все расходы за организацию программ обучения и привлечение участников возьмет на себя Банк.
                </p>
                <a href="program.html" class="y-button">Программа обучения</a>
            </div>
            <div class="farmer-geo-image">
                <div class="map">
                    <img src="/assets/img/farmer/map.svg" />
                </div>
            </div>
        </section>
        <section class="farmer-dir">
            <div class="wrap">
                <h2>Направления обучения</h2>
                <div class="carousel is-hidden" id="directions">
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic1.jpg')"></div>
                             <div class="farmer-dir-item_text">Пчеловодство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic2.jpg')"></div>
                            <div class="farmer-dir-item_text">Птицеводство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic3.jpg')"></div>
                            <div class="farmer-dir-item_text">Растениеводство, Садоводство, Ягодоводство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic4.jpg')"></div>
                            <div class="farmer-dir-item_text">Животноводство и племенное хозяйство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic5.jpg')"></div>
                            <div class="farmer-dir-item_text">Овощеводство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic6.jpg')"></div>
                            <div class="farmer-dir-item_text">Молочное животноводство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic7.jpg')"></div>
                            <div class="farmer-dir-item_text">Сити-фермерство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic8.jpg')"></div>
                            <div class="farmer-dir-item_text">Тепличное хозяйство</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic9.jpg')"></div>
                            <div class="farmer-dir-item_text">Производство и переработка СХ продукции</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic10.jpg')"></div>
                            <div class="farmer-dir-item_text">Мелиорация</div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="farmer-dir-item">
                            <div class="farmer-dir-item_pic" style="background-image: url('/assets/img/farmer/pic11.jpg')"></div>
                            <div class="farmer-dir-item_text">Сыроделие</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="farmer-event" id="event">
            <div class="wrap">
                <h2>Мероприятия</h2>
                <div class="farmer-event-text">
                    <p style="font-weight: 600">24 февраля в МИА Россия Сегодня состоится пресс-конференция в онлайн-формате, посвященная старту федерального образовательного проекта "Школа фермера", цель которого - научить студентов создавать и вести рентабельный бизнес в сельском хозяйстве.</p>
                    <p>О задачах проекта "Школа фермеров", его важности для развития фермерских хозяйств в регионах и в стране в целом расскажут председатель правления Россельхозбанка Борис Павлович Листов, заместитель министра сельского хозяйства РФ Оксана Николаевна Лут, Заместитель Председателя Государственной думы Гордеев Алексей Васильевич, губернаторы регионов, ректоры ВУЗов, выпускники первого потока «Школы фермера» и представители бизнеса.</p>
                </div>
                <div class="farmer-event-video">
                    <div class="facebook-responsive">
                    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fpresstass%2Fvideos%2F311124216643778%2F&show_text=false" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    </div>
                </div>
            </div>
        </section>
        {% include '../components/footer-f.twig' %}
    </main>
{% endblock %}
