{% extends '../layouts/default.twig' %}
{% set head_title = 'В подарок клиентам Банка изысканная серебряная подвеска и 10 000 рублей на бонусный счет от ювелирного бренда SOKOLOV!' %}
{% set body_class = '' %}

{% set page = 'sokolov' %}
{% set src = 'assets/img/sokolov' %}
{% block page %}
    {% include '../../modules/navbar/navbar-land.twig' %}
    <section class="top">
        <div class="container">
            <div class="top-image">
                <img src="{{ src }}/top-img.jpg">
            </div>
            <div class="top-text">
                <div class="top-text-wrap">
                    <h1>Получите серебряную подвеску <span class="nowrap">и 10 000</span> рублей <span class="nowrap">на бонусный</span>
                        счет <span class="nowrap">от SOKOLOV</span></h1>
                    <a class="btn" href="#request-form" data-scroll>Получить промокод</a>
                </div>
            </div>
        </div>
    </section>
    <section class="rules">
        <div class="container">
            <div class="row">
                <div class="col-12 rules-lead">
                    В подарок клиентам Банка изысканная серебряная подвеска и 10 000 рублей на бонусный счет от ювелирного бренда SOKOLOV!
                </div>
                <div class="col-12 col-md-6 rules-text">
                    <h2>Как получить подарок?</h2>
                    <div class="rules-item">Заполните форму и получите промокод на украшение от SOKOLOV.</div>
                    <div class="rules-item">Посетите магазин участвующий в акции.<br/><a href="https://sokolov.ru/retail/rshb/" target="_blank">Список магазинов</a></div>
                    <div class="rules-item">Предъявите кассиру магазина SOKOLOV ваш промокод <span class="nowrap">и получите</span> подарок.</div>
                </div>
                <div class="col-12 col-md-6 rules-form">
                    <div class="rules-form-wrap">
                        <h2>Получить код</h2>
                        <form id="request-form">
                            <div class="rules-form-input">
                                <label>ID в программе Урожай*<span id="modal-open">Как найти id?</span></label>
                                <input type="text" name="uid" id="uid" placeholder="00000000">
                                <div class="error"></div>
                            </div>
                            <div class="rules-form-input">
                                <label>Телефон</label>
                                <input type="text" name="phone" id="phone" placeholder="+7 (900) 000-00-00">
                                <div class="error"></div>
                            </div>
                            <button class="btn" id="code-submit">Получить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container" style="text-align: center;">
        <svg width="262" height="70" viewBox="0 0 262 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M80.0329 69.0582C77.5387 69.0582 76.6479 68.1758 76.4698 67.9994C76.1135 67.6464 75.9353 67.2935 75.7571 66.7641C75.579 66.2346 75.579 65.7052 75.579 65.1758V63.9405H76.6479V65.1758C76.6479 66.0582 76.8261 66.9405 77.3605 67.2935C77.895 67.8229 78.7858 67.9994 79.8547 67.9994H80.0329C80.5674 67.9994 81.8145 67.9993 82.5271 67.2935C82.7053 67.117 82.8834 66.7641 83.0616 66.4111C83.2397 66.0582 83.2397 65.3523 83.2397 64.8229V55.117H84.3087V65.1758C84.3087 65.7052 84.3087 66.2346 84.1305 66.7641C83.9524 67.2935 83.7742 67.6464 83.4179 67.9994C82.3489 68.8817 80.5674 69.0582 80.0329 69.0582Z" fill="#090D0B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M100.521 68.7053H90.9004V54.9406H100.343V55.9994H92.1475V61.117H99.8082V61.9994H92.1475V67.6464H100.521V68.7053Z" fill="#090D0B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M118.515 68.7053H117.446V68.5288L113.883 56.1758L110.32 68.7053H109.072V68.5288L105.153 54.9406H106.222L109.785 67.117L113.17 54.9406H114.417L117.98 67.117L121.365 54.9406H122.612L118.515 68.7053Z" fill="#090D0B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M137.578 68.7053H128.135V54.9406H137.578V55.9994H129.204V61.117H137.043V61.9994H129.204V67.6464H137.578V68.7053Z" fill="#090D0B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M152.721 68.7053H143.991V54.9406H145.06V67.6464H152.721V68.7053Z" fill="#090D0B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M158.778 61.4699H163.41C164.657 61.4699 166.795 61.117 166.795 58.4699C166.795 55.9994 164.479 55.8229 163.41 55.8229H158.778V61.4699ZM168.221 68.7052H166.973C166.617 67.9994 166.617 67.2935 166.617 66.4111C166.617 65.3523 166.617 64.117 165.905 63.4111C165.37 62.8817 164.657 62.7052 163.588 62.7052H158.956V68.7052H157.887V55.117H163.767C166.617 55.117 168.221 56.3523 168.221 58.6464C168.221 60.4111 167.33 61.6464 165.726 61.9994C167.864 62.5288 168.042 64.2935 168.042 65.8817V66.0582C168.042 67.117 168.042 67.9994 168.399 68.3523L168.221 68.7052Z" fill="#090D0B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M178.91 68.7053H177.841V62.8817L172.318 54.9406H173.565L178.375 61.9994L183.364 54.9406H184.611H184.433L178.91 62.8817V68.7053Z" fill="#090D0B"/>
                <path d="M72.0158 12.2346C71.3032 9.76405 70.0561 7.6464 68.6308 5.8817C67.2056 4.11699 65.2459 2.70523 63.108 1.46993C60.7919 0.587578 58.2977 0.0581665 55.4472 0.0581665C52.5967 0.0581665 50.1025 0.587578 47.7865 1.6464C45.6486 2.70523 43.6889 4.11699 42.2636 6.05817C40.8384 7.82287 39.5913 9.94052 38.8786 12.4111C38.166 14.7052 37.8097 17.3523 37.8097 19.9993C37.8097 22.6464 38.166 25.117 38.8786 27.5876C39.5913 30.0582 40.8384 32.1758 42.2636 33.9405C43.6889 35.7052 45.6486 37.117 47.7865 38.1758C49.9244 39.2346 52.5967 39.7641 55.4472 39.7641C58.2977 39.7641 60.7919 39.2346 63.108 38.1758C65.2459 37.117 67.2056 35.7052 68.6308 33.9405C70.0561 32.1758 71.3032 30.0582 72.0158 27.5876C72.7285 25.2935 73.0848 22.6464 73.0848 19.9993C73.0848 17.1758 72.7285 14.7052 72.0158 12.2346ZM55.4472 36.9405C53.1312 36.9405 50.9933 36.5876 49.2117 35.7052C47.4302 34.8229 45.8268 33.7641 44.5797 32.1758C43.3326 30.5876 42.2636 28.8229 41.551 26.7052C40.8384 24.5876 40.482 22.2935 40.482 19.8229C40.482 17.3523 40.8384 15.0582 41.551 12.9405C42.2636 10.8229 43.1544 9.05817 44.5797 7.46993C45.8268 6.05817 47.4302 4.82287 49.2117 3.94052C50.9933 3.05817 53.1312 2.70523 55.4472 2.70523C57.7633 2.70523 59.9012 3.05817 61.6827 3.94052C63.4643 4.82287 65.0677 6.05817 66.3148 7.46993C67.5619 8.8817 68.6309 10.8229 69.3435 12.9405C70.0561 15.0582 70.4124 17.3523 70.4124 19.8229C70.4124 22.2935 70.0561 24.5876 69.3435 26.7052C68.6309 28.8229 67.5619 30.5876 66.3148 32.1758C65.0677 33.5876 63.4643 34.8229 61.6827 35.7052C59.9012 36.5876 57.7633 36.9405 55.4472 36.9405Z" fill="#090D0B"/>
                <path d="M149.336 12.2346C148.623 9.94052 147.376 7.82287 145.951 5.8817C144.526 4.11699 142.566 2.70523 140.428 1.46993C138.29 0.587578 135.618 0.0581665 132.946 0.0581665C130.095 0.0581665 127.601 0.587578 125.285 1.6464C123.147 2.70523 121.187 4.11699 119.762 6.05817C118.337 7.82287 117.09 9.94052 116.377 12.4111C115.664 14.7052 115.308 17.3523 115.308 19.9993C115.308 22.6464 115.664 25.117 116.377 27.5876C117.09 30.0582 118.337 31.9993 119.762 33.9405C121.187 35.7052 123.147 37.2935 125.285 38.1758C127.423 39.2346 130.095 39.7641 132.946 39.7641C135.796 39.7641 138.29 39.2346 140.606 38.1758C142.744 37.117 144.704 35.7052 146.129 33.9405C147.554 32.1758 148.802 30.0582 149.514 27.5876C150.227 25.2935 150.583 22.6464 150.583 19.9993C150.583 17.3523 150.227 14.7052 149.336 12.2346ZM147.733 19.8229C147.733 22.2935 147.376 24.5876 146.664 26.7052C145.951 28.8229 144.882 30.5876 143.635 32.1758C142.388 33.5876 140.784 34.8229 139.003 35.7052C137.221 36.5876 135.083 36.9405 132.767 36.9405C130.451 36.9405 128.313 36.5876 126.532 35.7052C124.75 34.8229 123.147 33.7641 121.9 32.1758C120.653 30.7641 119.584 28.8229 118.871 26.7052C118.158 24.5876 117.802 22.2935 117.802 19.8229C117.802 17.3523 118.158 15.0582 118.871 12.9405C119.584 10.8229 120.653 9.05817 121.9 7.46993C123.147 6.05817 124.75 4.82287 126.532 3.94052C128.313 3.05817 130.451 2.70523 132.767 2.70523C135.083 2.70523 137.221 3.05817 139.003 3.94052C140.784 4.82287 142.388 6.05817 143.635 7.46993C144.882 8.8817 145.951 10.8229 146.664 12.9405C147.376 15.0582 147.733 17.3523 147.733 19.8229Z" fill="#090D0B"/>
                <path d="M162.876 36.0582V0.940521H160.025V38.7052H184.077V36.0582H162.876Z" fill="#090D0B"/>
                <path d="M222.558 12.2346C221.846 9.94051 220.599 7.82286 219.173 5.88168C217.748 4.11698 215.788 2.70521 213.651 1.46992C211.513 0.411095 208.84 -0.118317 205.99 -0.118317C203.139 -0.118317 200.645 0.411095 198.329 1.46992C196.191 2.52874 194.231 3.94051 192.806 5.88168C191.381 7.64639 190.134 9.76404 189.421 12.2346C188.709 14.5287 188.352 17.1758 188.352 19.8229C188.352 22.4699 188.709 24.9405 189.421 27.4111C190.134 29.8817 191.381 31.9993 192.806 33.764C194.231 35.5287 196.191 36.9405 198.329 37.9993C200.467 39.0582 203.139 39.5876 205.99 39.5876C208.84 39.5876 211.335 39.0582 213.651 37.9993C215.788 36.9405 217.748 35.5287 219.173 33.764C220.599 31.9993 221.846 29.8817 222.558 27.4111C223.271 25.117 223.627 22.4699 223.627 19.8229C223.627 17.1758 223.271 14.7052 222.558 12.2346ZM205.99 36.9405C203.674 36.9405 201.536 36.5876 199.754 35.7052C197.973 34.8229 196.369 33.764 195.122 32.1758C193.875 30.764 192.806 28.8229 192.094 26.7052C191.381 24.5876 191.025 22.2934 191.025 19.8229C191.025 17.3523 191.381 15.0582 192.094 12.9405C192.806 10.8229 193.875 9.05815 195.122 7.46992C196.369 6.05815 197.973 4.82286 199.754 3.94051C201.536 3.05815 203.674 2.70521 205.99 2.70521C208.306 2.70521 210.444 3.05815 212.225 3.94051C214.007 4.82286 215.61 6.05815 216.857 7.46992C218.105 8.88168 219.173 10.8229 219.886 12.9405C220.599 15.0582 220.955 17.3523 220.955 19.8229C220.955 22.2934 220.599 24.5876 219.886 26.7052C219.173 28.8229 218.105 30.5876 216.857 32.1758C215.61 33.5876 214.007 34.8229 212.225 35.7052C210.444 36.5876 208.306 36.9405 205.99 36.9405Z" fill="#090D0B"/>
                <path d="M259.081 0.940521L246.253 34.4699L232.892 0.940521H230.219L245.184 38.7052H247.5L261.931 0.940521H259.081Z" fill="#090D0B"/>
                <path d="M113.348 38.7052L86.2684 19.2935L112.457 0.940521H108.004L84.8431 16.9993V0.940521H82.1708V38.7052H84.8431V21.5876L109.072 38.7052H113.348Z" fill="#090D0B"/>
                <path d="M28.5455 24.0582C27.8329 22.8229 26.7639 21.7641 25.5168 21.0582C24.2697 20.3523 22.8445 19.8229 21.4192 19.2935C19.8158 18.9405 13.4021 17.3523 11.9769 16.9993C10.5516 16.8229 9.30453 16.2935 8.23559 15.7641C7.16665 15.2346 6.27586 14.5288 5.56323 13.6464C5.02876 12.7641 4.67245 11.7052 4.67245 10.2935C4.67245 8.8817 5.02876 7.6464 5.56323 6.76405C6.27586 5.70523 6.98849 4.99934 8.05743 4.29346C9.12637 3.76405 10.1953 3.23464 11.4424 3.05817C12.6895 2.8817 13.9366 2.70523 15.1837 2.70523C16.609 2.70523 18.2124 2.8817 19.4595 3.23464C20.7066 3.58758 21.9537 4.11699 22.8445 4.82287C23.7352 5.52876 24.626 6.41111 25.1605 7.6464C25.695 8.17582 25.8731 8.8817 26.0513 9.58758L26.2294 10.117H28.9018L28.7236 9.41111C28.5455 8.35229 28.1892 7.29346 27.8329 6.58758C27.1202 4.99934 26.0513 3.76405 24.8042 2.8817C23.5571 1.82287 22.1318 1.11699 20.5284 0.587578C18.925 0.234637 17.1434 0.0581665 15.3619 0.0581665C13.7585 0.0581665 12.155 0.234637 10.7298 0.587578C9.12637 0.94052 7.70112 1.46993 6.45402 2.17581C5.20692 2.8817 4.13798 3.94052 3.24719 5.35228C2.35641 6.58758 2.00009 8.35229 2.00009 10.2935C2.00009 12.2346 2.35641 13.8229 3.24719 15.0582C3.95982 16.2935 5.02876 17.1758 6.45402 18.0582C7.70112 18.7641 9.12637 19.2935 10.5516 19.6464C12.155 19.9993 17.8561 21.4111 19.2813 21.7641C20.7066 22.117 21.9537 22.4699 23.2008 23.1758C24.2697 23.7052 25.1605 24.5876 26.0513 25.4699C26.7639 26.3523 27.1202 27.5876 27.1202 29.3523C27.1202 30.7641 26.7639 31.9993 26.2294 32.8817C25.5168 33.9405 24.8042 34.6464 23.7352 35.3523C22.6663 36.0582 21.4192 36.4111 20.1721 36.7641C18.925 37.117 17.4998 37.2935 16.0745 37.2935C14.2929 37.2935 12.5114 37.117 10.9079 36.7641C9.48269 35.8817 8.05743 35.3523 6.98849 34.4699C5.91955 33.5876 5.02876 32.5288 4.49429 31.117C4.13798 30.2346 3.78166 29.1758 3.78166 28.117V27.5876H0.931152V28.2935C1.10931 29.8817 1.46562 31.117 1.82194 32.3523C2.53457 34.117 3.60351 35.5288 5.02876 36.5876C6.45402 37.6464 8.05743 38.5288 9.839 39.0582C11.6206 39.5876 13.5803 39.7641 15.8963 39.7641C17.4998 39.7641 19.1032 39.5876 20.7066 39.2346C22.31 38.8817 23.7352 38.1758 25.1605 37.4699C26.4076 36.5876 27.6547 35.5288 28.3673 34.117C29.2581 32.7052 29.6144 31.117 29.6144 29.3523C29.7926 27.0582 29.4363 25.2935 28.5455 24.0582Z" fill="#090D0B"/>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="261" height="69" fill="white" transform="translate(0.931152 0.0581665)"/>
                </clipPath>
            </defs>
        </svg>

    </section>
    <section class="legal">
        <div class="container text-xs">
            <p>* id программы Урожай – уникальный цифровой идентификатор пользователя в бонусной витрине программы лояльности <a href="https://urozhai.rshb.ru/" target="_blank">Урожай</a>, который можно узнать в <a href="https://online.rshb.ru/ib6/wf2/retail/ib/loginretaildefault" target="_blank">Мобильном банке/Интернет-банке</a>. Если вы ещё не являетесь пользователем программы лояльности Урожай, оформите <a href="https://www.rshb.ru/natural/loans/creditcard/" target="_blank">кредитную</a> или <a href="https://www.rshb.ru/natural/cards/">дебетовую карту</a> Россельхозбанка.</p>
            <p>Воспользоваться предложением можно один раз в период с 10.02.2021г. по 31.12.2021г.  Акция действует на территории городов: Москва, Московская область (Пушкино, Котельники, Мытищи, Домодедово, Красногорск, Лобня, Реутов, Люберцы, Зеленоград, Химки, Одинцово, Балашиха, Ногинск, Дубна), Санкт-Петербург, Нижний Новгород, Екатеринбург, Волгоград, Краснодар, Ростов на Дону, Красноярск, Южно-Сахалинск.<br/>
                Количество подарков ограничено организатором мероприятия.<br>
                Организатор мероприятия: ООО «СВ Ритейл» (ОГРН 1187746709677, ИНН 7716918034), место нахождения: 129343, г. Москва, проезд Серебрякова, д. 4, стр. 1, офис 31А
            </p>
            <a href="https://sokolov.ru/retail/rshb/term/" target="_blank">Полные правила проведения мероприятия</a>
        </div>
    </section>
    {% include '../components/footer.twig' %}
    <div class="modal" id="modal" style="display: none">
        <div class="modal-wrap">
            <div class="modal-body">
                <div class="modal-close" id="modal-close"></div>
                <h1 id="modal-title">Как найти ID?</h1>
                <div class="modal-text" id="modal-text" style="display: none">
                    <span class="font-weight-semibold d-block pb-075">В мобильном приложении:</span>
                    <p>Выполните авторизированный вход в приложение «Мобильный банк»</p>
                    <p>Выберете в меню раздел Программа лояльности «Урожай»</p>
                    <p>Вверху экрана в разделе Программа лояльности «Урожай»
                        указан Ваш ID</p>

                    <span class="font-weight-semibold d-block pb-075">По телефону:</span>
                    Позвоните по номеру 8 800 100-0-100 (звонок по России бесплатный). Задайте вопрос оператору контакт-центра.
                    Отетьте на вопросы оператора с целью установления вашей личности. ID будет отправлен по SMS на номер, привязанный к вашей карте.
                </div>
                <div class="modal-text" id="modal-error" style="display: none">
                </div>
                <div class="modal-text code" id="modal-code" style="display: none">
                    <div class="code-container">
                        <div class="code-value" id="code-value"></div>
                        <div class="code-copy" data-clipboard-target="#code-value">Копировать</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/imask"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

{% endblock %}
