{% extends '../layouts/default.twig' %}
{% set head_title = 'Свое Родное' %}
{% set body_class = '' %}
{% set menu_active = 'blank-page' %}
{% set page = 'svoe' %}
{% set src = '/assets/img/svoe/' %}

{% block page %}
    <main class="svoe" id="main">
        <section class="svoe-top">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-5 pad">
                        <div class="svoe-top-image">
                            <img src="{{ src }}top-img.png" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-7 pad ">
                        <div class="svoe-top-text">
                            <h1>Свое Родное: сервис доставки натуральных продуктов от фермеров</h1>
                            <p>Всегда свежие продукты от поставщиков без наценок</p>
                            <a class="y-button" href="https://svoe-rodnoe.ru/?utm_source=rshb&utm_medium=lending&utm_campaign=svoe_rodnoe_lendinng" id="page-button-1" target="_blank">Начать покупки</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="svoe-service">
            <div class="container">
                <h2>Возможности сервиса</h2>

                <div class="scroll-cards">
                    <div class="scroll-cards-wrap">
                        <div class="scroll-cards-item gray">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card1.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Фермеры со всей России</h5>
                                    Узнайте, какие фермеры есть рядом с вами
                                </div>
                            </div>
                        </div>
                        <div class="scroll-cards-item gray">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card2.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Натуральная продукция</h5>
                                    Качественные продукты по приемлемой цене
                                </div>
                            </div>
                        </div>
                        <div class="scroll-cards-item gray">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card3.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Курьерская доставка и самовывоз</h5>
                                    Получайте продукты в удобное для вас время
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Найдите фермера недалеко от вас и оформляйте быструю доставку или самомовывоз</h4>
                <a href="https://svoe-rodnoe.ru/farmers?utm_source=rshb&utm_medium=lending&utm_campaign=svoe_rodnoe_lendinng" class="y-button" id="page-button-2" target="_blank">Найти фермера</a>
            </div>
        </section>
        <section class="svoe-buy">
            <div class="container">
                <h2>Что можно приобрести на площадке Свое Родное?</h2>

                <div class="scroll-cards">
                    <div class="scroll-cards-wrap">
                        <div class="scroll-cards-item">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card4.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Любителям сыра</h5>
                                    Пармезан от наших фермеров ничем не хуже итальянского собрата
                                </div>
                            </div>
                        </div>
                        <div class="scroll-cards-item">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card5.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Мясоедам</h5>
                                    Мраморные стейки из мяса молодых бычков
                                    абердин-ангусской породы. Ну как тут устоять!
                                </div>
                            </div>
                        </div>
                        <div class="scroll-cards-item">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card6.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Дары моря</h5>
                                    Богатейший выбор свежих морепродуктов, икры и рыбы прямым рейсом с Камчатки и не только
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://svoe-rodnoe.ru/category?utm_source=rshb&utm_medium=lending&utm_campaign=svoe_rodnoe_lendinng" class="y-button" id="page-button-3" target="_blank">Посмотреть каталог</a>
            </div>
        </section>
        <section class="svoe-additional">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 pad">
                        <h3>Что еще можно приобрести?</h3>
                        <div class="svoe-additional-item">
                            <h5>Ремесленные товары</h5>
                            Товары ручной работы и натуральная косметика для всех
                        </div>
                        <div class="svoe-additional-item">
                            <h5>Агротуры</h5>
                            Отдохните от городской суеты на настоящей ферме
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pad mobile-app">
                        <h3>Попробуйте Свое Родное</h3>
                        <div class="svoe-additional-text">
                            Оцените все преимущества сервиса уже сегодня.
                            Посетите сайт или установите мобильное приложение.
                        </div>
                        <div class="svoe-additional-buttons">
                            <div><a href="https://redirect.appmetrica.yandex.com/serve/315351081108381145" class="y-button" id="page-button-4">Скачать приложение</a></div>
                            <div class="qr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="svoe-buy">
            <div class="container">
                <h2>Начните продавать свою продукцию напрямую потребителям</h2>

                <div class="scroll-cards">
                    <div class="scroll-cards-wrap">
                        <div class="scroll-cards-item">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card7.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Привлечение покупателей берем на себя</h5>
                                    Вам лишь остается разместить свои товары
                                </div>
                            </div>
                        </div>
                        <div class="scroll-cards-item">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card8.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Бесплатное подключение и обслуживание</h5>
                                    Воспользуйтесь всеми возможностями экосистемы абсолютно бесплатно
                                </div>
                            </div>
                        </div>
                        <div class="scroll-cards-item">
                            <div class="scroll-cards-card">
                                <div class="scroll-cards-image" style="background-image: url('/assets/img/svoe/card9.jpg')"></div>
                                <div class="scroll-cards-text">
                                    <h5>Быстрое и удобное добавление товаров</h5>
                                    Возможность легко и быстро загрузить каталог товаров
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="https://svoefermerstvo.ru/become-b2cseller?utm_source=rshb&utm_medium=lending&utm_campaign=svoe_rodnoe_lendinng" class="y-button" id="page-button-5" target="_blank">Стать продавцом</a>
            </div>
        </section>
    </main>
{% endblock %}
