<div class="web-chat-open">
    открыть
</div>
<div class="web-chat-container">
    <iframe src="https://chatul.mes.rshb.ru/system/templates/chat/kiwinew/chat.html?subActivity=Chat&entryPointId=1001&templateName=kiwi&languageCode=ru&countryCode=RU&ver=v11&postChatAttributes=false&eglvrefname=&null"></iframe>
</div>

