*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5{
  margin-top: 0;
  font-weight: 600;
  margin-bottom: .5em;
}
h1{
  font-size: 24px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 16px;
}
@media screen and (min-width: 768px){
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
}
@media screen and (min-width: 992px){
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 26px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px){
  h1{
    font-size: 40px;
  }
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 24px;
  }
  h4{
    font-size: 22px;
  }
  h5{
    font-size: 20px;
  }
}

a{
  color: #333;
  text-decoration: underline;
  &:hover{
    color: black;
  }
}
section {
  padding-top: 32px;
  padding-bottom: 32px;
  .pad-y{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .pad-x{
    padding-left: 16px;
    padding-right: 16px;
  }
  .pad{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    .pad-y{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .pad-x{
      padding-left: 20px;
      padding-right: 20px;
    }
    .pad{
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .row{
      margin-left: -20px;
      margin-right: -20px;
    }
    .container{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and (min-width: 992px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 48px;
    padding-bottom: 48px;
    h1{
      font-size: 40px;
    }
    h2{
      font-size: 28px;
    }
    h3{
      font-size: 24px;
    }
    h4{
      font-size: 22px;
    }
    h5{
      font-size: 20px;
    }
  }
  @media screen and (min-width: 1600px) {
    padding-top: 64px;
    padding-bottom: 64px;
    .container{
      max-width: 1440px;
      padding-right: 24px;
      padding-left: 24px;
    }
    .pad-y{
      padding-top: 24px;
      padding-bottom: 24px;
    }
    .pad-x{
      padding-left: 24px;
      padding-right: 24px;
    }
    .pad {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
    .row{
      margin-left: -24px;
      margin-right: -24px;
    }
  }
}
img{
  max-width: 100%;
}
.y-button{
  display: inline-block;
  background: #ffcb00;
  color: #333;
  padding: .5em 1.5em;
  margin-right: 16px;
  border-radius: 4px;
  text-decoration: none !important;
  font-weight: 600;
  margin-top: 1em;
  border: 0;
  line-height: 1.5;
  outline: 0;
  &:hover{
    background: darken(#ffcb00, 3%);
    color: black;
  }
  @media screen and (max-width: 428px){
    display: block;
    margin-right: 0;
    text-align: center;
  }
}
.contact{
  &-top{
    background: #f3f5f8;
    @media screen and (max-width: 575px){
      padding: 0;
    }
    .container{
      background: #257845;
      color: white;
      padding-bottom: 8px;
    }
    &-city{
      background-size: cover;
      background-position: center;
      padding-top: 240px;
      position: relative;
      overflow: hidden;
      .lights{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("/assets/img/contact/lights.svg");
        background-size: cover;
        background-repeat: no-repeat;
      }
      .gradient{
        background-image: url("/assets/img/contact/bottom-bg.svg");
        padding-bottom: 15%;
        width: 100%;
        background-position: bottom left;
        background-size: contain;
        position: absolute;
        bottom: 0;
        left: 0;
        background-repeat: no-repeat;
      }
    }
    &-title{
      &-city{
        color: #a6ce39;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: .8em;
        padding-left: 24px;
        background-image: url("/assets/img/contact/pin-green.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        margin-bottom: 4px;
      }
      p{
        margin-bottom: 8px;
      }
    }
    @media screen and (min-width: 576px){
      .container{
        border-radius: 10px;
        overflow: hidden;
      }
    }
    @media screen and (min-width: 768px) {
      .container{
        padding-bottom: 0;
      }
      &-city{
        padding-top: 280px;
        .gradient{
          background-image: url("/assets/img/contact/left-bg.svg");
          top: 0;
          width: 30%;
        }
      }
      &-title{
        align-self: center;
      }
    }
    @media screen and (min-width: 992px) {
      &-title{
        &.pad{
          padding-left: 96px;
        }
      }
      &-city{
        padding-top: 320px;
      }
    }
    @media screen and (min-width: 1200px) {
      &-title{
        &.pad{
          padding-left: 104px;
        }
      }
      &-city{
        padding-top: 360px;
      }
    }
    @media screen and (min-width: 1600px) {
      &-title{
        &.pad{
          padding-left: 112px;
        }
      }
      &-city{
        padding-top: 420px;
      }
    }
  }
  &.petrozavodsk{
    .contact-top-city{
      background-image: url("/assets/img/contact/petrozavodsk.jpg");
    }
  }
  &.voronezh{
    .contact-top-city{
      background-image: url("/assets/img/contact/voronezh.jpg");
    }
  }
  &.chelyabinsk{
    .contact-top-city{
      background-image: url("/assets/img/contact/chelyabinsk.jpg");
    }
  }

  &-reason{
    background: #f3f5f8;
    .container{
      position: relative;
    }
    &-logo{
      position: absolute;
      z-index: 9;
      right: 16px;
      top: -104px;
      img{
        height: 120px;
      }
      @media screen and (max-width: 428px){
        display: none;
      }
      @media screen and (min-width: 576px) {
        top: -148px;
        img{
          height: 140px;
        }
      }
      @media screen and (min-width: 768px) {
        top: -120px;
        img{
          height: 140px;
        }
      }
      @media screen and (min-width: 1200px) {
        top: -156px;
        img{
          height: 180px;
        }
      }
      @media screen and (min-width: 1200px) {
        top: -200px;
        img{
          height: 220px;
        }
      }
    }
    &-item{
      padding-left: 80px;
      background-position: 16px 16px;
      background-size: 48px 48px;
      background-repeat: no-repeat;
      font-size: 14px;
    }
    @media screen and (min-width: 768px){
      padding-top: 0;
      &-item{
        padding-left: 88px;
        background-position: 20px 20px;
      }
    }
    @media screen and (min-width: 992px){
      &-item{
        padding-left: 96px;
        background-size: 56px 56px;
      }
    }
    @media screen and (min-width: 1200px){
      &-item{
        padding-left: 104px;
        background-size: 64px 64px;
      }
    }
    @media screen and (min-width: 1600px){
      &-item{
        padding-left: 112px;
        background-size: 72px 72px;
        font-size: 16px;
      }
    }
  }
  &-video{
    &-bg{
      background: url("/assets/img/contact/video-bg.jpg");
      background-size: cover;
      padding-top: 50%;
      margin-top: 24px;
      position: relative;
      border-radius: 10px;
    }
    &-play{
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/assets/img/contact/video-arr.svg");
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0;
      background-size: 200px;
      &:hover{
        cursor: pointer;
        background-size: 240px;
      }
    }
    @media screen and (min-width: 576px){
      &-play{
        background-size: 240px;
        &:hover{
          background-size: 280px;
        }
      }
      &-button{
        text-align: right;
        a{
          margin: 0;
        }
      }
    }
    @media screen and (min-width: 768px) {
      &-play{
        background-size: 260px;
        &:hover{
          background-size: 300px;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      &-bg{
        padding-top: 35%;
      }
    }
  }
  &-story{
    background: #f3f5f8;
    &-item{
      background-color: white;
      padding: 12px;
      border-radius: 10px;
      font-size: .9em;
      height: 100%;
    }
    &-empl{
      background-repeat: no-repeat;
      padding-left: 64px;
      background-size: 52px 52px;
      padding-bottom: 16px;
      div{
        color: #696a6a;
      }
    }
    @media screen and (min-width: 414px){
      &-item{
        padding: 16px;
      }
    }
    @media screen and (min-width: 768px){
      &-item{
        padding: 20px;
      }
    }
    @media screen and (min-width: 992px){
      &-item{
        display: flex;
        font-size: 1em;
      }
      &-empl{
        width: 33.333%;
        min-width: 33.333%;
        padding-right: 2em;
      }
    }
    @media screen and (min-width: 1200px){
      &-empl{
        padding-left: 80px;
        background-size: 64px 64px;
      }
      &-item{
        padding: 24px;
      }
    }
    @media screen and (min-width: 1600px) {
      &-item{
        padding: 24px 64px;
      }
    }
  }
  &-noteasy{
    &-item{
      min-height: 160px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: white;
      padding: 16px;
      position: relative;
      img{
        height: 24px;
      }
    }
    &-text{
      font-weight: 600;
      position: absolute;
      bottom: 16px;
      left: 16px;
      padding-right: 24px;
      line-height: 1.2em;
    }

    @media screen and (min-width: 576px){
      .row{
        border-radius: 10px;
        overflow: hidden;
        margin: 0;
      }
    }
    @media screen and (min-width: 768px){
      &-item{
        padding: 20px;
      }
      &-text{
        bottom: 20px;
        left: 20px;
      }
    }
    @media screen and (min-width: 1200px){
      &-item{
        min-height: 180px;
        padding: 24px;
        img{
          height: 28px;
        }
      }
      &-text{
        bottom: 24px;
        left: 24px;
      }
    }
  }
  &-team{
    background: #f3f5f8;
    .row{
      overflow-x: auto;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    .row::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
    &-wrap{
      display: flex;
      padding-right: 16px;
    }
    &-item{
      width: 240px;
      min-width: 240px;
      padding-left: 16px;
    }
    &-card{
      background: white;
      border-radius: 10px;
      overflow: hidden;
      padding-bottom: 80px;
      position: relative;
      cursor: pointer;
      img{
        min-width: 100%;
      }
      &-text{
        background: white;
        position: absolute;
        padding: 16px;
        width: 100%;
        .more{
          font-size: 14px;
          display: none;
        }
      }
      &.active{
        .contact-team-card-text{
          bottom: 0;
          .more{
            display: block;
          }
        }
      }
    }
    @media screen and (min-width: 576px){
      .row{
        margin: 0 0 0 -16px;
      }
      &-wrap{
        padding-right: 0;
        width: 100%;
      }
    }
    @media screen and (min-width: 768px){
      &-item{
        width: 260px;
        min-width: 260px;
      }
    }
    @media screen and (min-width: 992px){
      &-item{
        width: 25%;
        min-width: 25%;
      }
    }
  }
  &-photos{
    background: #f3f5f8;
    padding-top: 0;
    &-item{
      width: 100% !important;
      img{
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
  &-steps{
    .row{
      margin: 0;
    }
    &-item{
      height: 24px;
      background-size: 24px 24px;
      padding-left: 40px;
      background-repeat: no-repeat;
      margin-top: 8px;
      h5{
        margin: 0;
        line-height: 24px;
      }
    }
    @media screen and (min-width: 567px){
      &-item{
        background-size: 32px 32px;
        height: 32px;
        margin-top: 16px;
        h5{
          line-height: 32px;
        }
      }
    }
    @media screen and (min-width: 992px){
      &-item{
        background-size: 40px 40px;
        height: 40px;
        margin-top: 24px;
        padding-left: 64px;
        h5{
          line-height: 40px;
        }
      }
    }
    @media screen and (min-width: 1200px){
      h2{
        text-align: center;
      }
      &-item{
        padding-left: 16px;
        padding-top: 80px;
        background-position: top center;
        background-size: 64px 64px;
        height: auto;
        h5{
          text-align: center;
        }
      }
    }
  }
  &-vacancy{
    background: #f3f5f8;
    .row{
      margin: 0;
    }
    &-item{
      background-color: white;
      margin: 0 -16px;
      padding: 16px;
      border-radius: 10px;
      cursor: pointer;
      margin-bottom: 16px;
      &_options{
        display: flex;
        flex-wrap: wrap;
        .option{
          margin-right: 20px;
        }
      }
      &_price{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        .y-button{
          margin-top: 8px;
          margin-right: 0;
        }
        .total{
          font-size: 1.2em;
        }
      }
    }
    @media screen and (min-width: 567px){
      &-item{
        display: flex;
        &_text{
          flex-grow: 1;
        }
        &_price{
          margin-top: 0;
          min-width: 197px;
          .total{
            text-align: right;
          }
        }
      }
    }
    @media screen and (min-width: 1200px){
      h2,
      p{
        text-align: center;
      }
      &-item{
        max-width: 1140px;
        margin: 0 auto;
        margin-bottom: 16px;
      }
    }
  }
  &-contacts{
    background: #e8e8e8;
    p{
      margin-bottom: 8px;
    }
    &-share{
      a{
        text-decoration: none;
        padding-right: 8px;
      }
      img{
        height: 40px;
      }
      margin-bottom: 32px;
    }
    @media screen and (min-width: 1200px){
      &-share{
        margin-bottom: 0;
      }
      .row{
        max-width: 1140px !important;
        margin: 0 auto;
      }
    }
  }
}
.basicLightbox{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  .modal-close{
    background-image: url("/assets/img/contact/close.svg");
    height: 44px;
    width: 44px;
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    &:hover{
      cursor: pointer;
      opacity: .9;
    }
  }
  .modal-video{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-wraper{
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .modal-sidebar{
    padding-top: 24px;
    position: absolute;
    right: 0;
    background-color: white;
    width: 100%;
    margin-left: 4px;
    height: 100%;
    @media screen and (min-width: 576px){
      max-width: 560px;
    }
    @media screen and (min-width: 768px){
      max-width: 740px;
    }
  }
}
.carousel {
  &.is-hidden {
    display: none;
  }
  &.flickity-enabled {
    opacity: 1;
  }
  .carousel-cell {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    &.carousel-story{
      padding-left: 0;
      padding-right: 0;
    }
    @media screen and (min-width: 768px) {
      width: 50%;
      &.carousel-story{
        width: 100%;
      }
    }
    @media screen and (min-width: 1200px) {
      &.carousel-story{
        width: 100%;
      }
      width: 33.3333%;
    }
  }
  .flickity-prev-next-button.previous{
    left: -12px;
  }
  .flickity-prev-next-button.next{
    right: -12px;
  }
  .flickity-page-dots{
    bottom: -24px;
    .is-selected{
      background-color: #257c39;
    }
  }
}
.scroll{
  overflow: scroll;
  height: 95vh;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  @media screen and (min-width: 768px){
    padding: 24px;
  }
}
.scroll::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
.form{
  max-width: 480px;
  margin-bottom: 40px;
}
.form-row{
  label{
    color: #7a7a7a;
    font-size: .8em;
    display: block;
  }
  input{
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    padding: 8px;
    outline: 0;
    width: 100%;
    &[type="checkbox"]{
      width: auto;
      & + label{
        display: inline-block;
      }
    }
  }
  &.has-error{
    input{
      border: 1px solid #c00;
    }
  }
  .error{
    height: 16px;
    line-height: 16px;
    font-size: .8em;
    color: #c00;
  }
}
